
@{
    ViewBag.Title = "UnauthorizedOperation";
}
<div class="container">
    <div class="cuadroTablas1">
        <h2>UnauthorizedOperation</h2>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Error, no tienes permiso
            </h1>
        </section>
    </div>
</div>

<!-- Main content -->
<div class="container">
    <div class="cuadroTablas1">
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-red">Error</h2>
                <div class="error-content">
                    <h3><i class="material-icons" style="font-size: 40px;">warning</i>Sin autorización</h3>
                    @if (ViewBag.operacion != "")
                    {
                        <p>Operación @ViewBag.operacion </p>
                    }
                    @if (ViewBag.modulo != "")
                    {
                        <p>Modulo @ViewBag.modulo</p>
                    }
                    @if (ViewBag.msjeErrorExcepcion != "")
                    {
                        <p>@ViewBag.msjeErrorExcepcion</p>
                    }
                </div>
            </div>
            <!-- /.error-page -->
        </section>

        <div class="row">
            <div class="col s12">
                <div class="btnOlvido">
                    
                    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)" class="waves-effect waves-light btn amber" >Volver a la página principal</a>
                </div>
            </div>
        </div>
    </div>
</div>
